@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,300;1,500&display=swap');
@import'../../scss/main.scss';

.Home {
    width: 100%;
    height: 100vh;
    // background: #F5F5F5;
    background-image: url(../../../public/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    // border: $border;

    .container {
        width: 83%;
        height: 100%;
        margin: 0 auto;

        // border: $border;
        .home {

            width: 100%;
            height: 100%;
            // background-color: white;
            position: relative;

            // border: $border;
            .h1 {
                display: flex;
                @include center();
                width: 100%;
                height: 15%;

                // border: $border;
                h1 {
                    color: white;
                    margin-top: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 200%;
                }
            }

            .cards {
                margin-left: 5%;
                position: absolute;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 0px;
                height: 85%;
                // border: $border;
                // background-color: white;

                // border: $border;
                .card {
                    border-radius: 16px;
                    padding: 30px 30px;
                    width: 80%;
                    height: 70%;
                    border: 1px solid white;
                    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
                    border-radius: 8px 10px 10px 8px;
                    background: #17002E;

                    h3 {
                        color: #F5F5F5;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 150%;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    p {

                        margin-top: 30px;
                        width: 300px;
                        color: #F5F5F5;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 100%;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        width: auto;
                    }
                }
            }
        }
    }

}

.abouttruck {
    background-image: url(../../../public/v1016-b-09.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;

    .container {
        width: 83%;
        margin: 0 auto;
        height: 100%;
        // background-color: white;

        .sunami {
            width: 100%;
            height: 100%;

            .margin {
                width: 100%;
                height: 6%;
                // background-color: white;
            }

            .Header2 {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 18%;
                border-radius: 50px;
                // border: $border;
                border: 1px solid white;
                background-color: #17002E;
                box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

                .llogoo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20%;
                    height: 100%;
                    // border: $border;

                    img {
                        width: 80%;
                        height: 80%;
                    }


                }

                .navbarr {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60%;
                    height: 100%;
                    // border: $border;

                    ul {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        li {
                            color: white;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 120%;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                        }
                    }
                }
            }


            .aboutuss {

                width: 100%;
                height: 100%;

                .Us {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 100%;
                    height: 60%;

                    .works {
                        padding: 0 20px;
                        width: 18%;
                        height: 60%;
                        border: 1px solid white;
                        background: #17002E;
                        border-radius: 8px;
                        box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

                        h1 {
                            width: 100%;
                            height: 20%;
                            color: white;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 66px;
                        }

                        p {
                            width: 100%;
                            height: 30%;
                            color: white;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 18px;
                        }

                        img {
                            width: 100%;
                            height: 50%;
                        }

                    }
                }

                .way {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 15%;

                    .buton {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;

                        button {
                            width: 15%;
                            height: 35%;
                            border-radius: 6px;
                            border: 1px solid white;
                            background-color: #17002E;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 24px;
                            color: white;
                            box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
                            cursor: pointer;

                        }
                    }
                }
            }
        }
    }
}